[2022-03-09 13:53] jskeet opened #482 "How do we describe enums in generic types?"
This was raised in #480.

Consider:

[code]

That's entirely valid, and `C<string>.E` and `C<int>.E` are different types... even though an enum declaration itself can't have type parameters.

Is it reasonable to consider the declaration of `C<>.E` to be a "generic enum declaration"?

[2022-03-10 11:09] jskeet opened #486 "Style: "new" modifier before anything else?"
I'm just editing classes.md, and while we put `override` and `virtual` after the access modifier, we put `new` before it:

[code]

This looks odd to me - I'd prefer `private new void F()`.

Thoughts?

[2022-03-10 13:14] RexJaeschke commented on #486
I too prefer the accessibility modifier to come first.

I found three places using the current approach:

basic-concepts.md:>     new private static void F() {} // Hides Base.F in Derived only
classes.md:>     new private void F() {} // Hides A.F within body of B
classes.md:>     new protected int Count {

[2022-03-10 17:06] BillWagner commented on #486
I'd also prefer the access modifier first.

[2022-03-10 17:09] jskeet commented on #486
Righto - I'll try to identify all occurrences and fix them tomorrow or next week.

[2022-03-10 17:12] jskeet commented on #486
Note to self: `grep "   new p" *.md` finds 13 occurrences.

[2022-03-10 21:16] Nigel-Ecma commented on #369
Moving this to C# 7.x, when some new places expression that may be classified as nothing get introduced. Then we need to look for places where nothing is currently not an option that needs to be considered and determine if now it needs to be… could be no such places of course but determining that may take non-trivial time.

[2022-03-13 08:24] Youssef1313 commented on #486
- classes.md
    - 14.3.9.4 Hiding
    - 14.3.10.2 Member names reserved for properties
    - 14.6.4 Virtual methods
    - 14.6.5 Override methods
    - 14.7.3 Accessors
    - 14.7.5 Accessibility

- interfaces.md
    - 17.6.5 Interface mapping
    - 17.6.6 Interface implementation inheritance

- basic-concepts.md
    - 7.7.2.3 Hiding through inheritance

These are the sections which have occurren

[2022-03-14 12:17] jskeet commented on #442
Nope, it's still broken. Investigating.

[2022-03-14 19:38] #486 closed, assigned to BillWagner, MadsTorgersen, RexJaeschke

[2022-03-14 19:51] #442 closed, assigned to nobody

[2022-03-15 08:56] jskeet opened #494 "Do we need to parse the grammar at all in the Word converter?"
C# code in the standard isn't parsed - it's just colorized.

The ANTLR grammar, however, *is* parsed. I suspect that's for historical reasons, back when the Word converter would also gather all the grammar rules together and perform a certain amount of validation.

I'm wondering whether we could fix #394 (and simplify the code!) just by not parsing the ANTLR at all. It might be tricky to get it co

[2022-03-15 09:01] jskeet commented on #494
Looks like we also use the parsed grammar to link to bookmarks. We could potentially still just use the plain text and keep parsing it to get the production names... or lose the bookmarks. Will prototype both ways.

[2022-03-15 14:54] jskeet commented on #494
Ah - no, we only use the parsed grammar production if the language is "antlr" rather than "ANTLR", which it never is. (See #342.)

So we really don't lose anything by not parsing it at all, given that we've got a separate validator. Let's go with that simple option.

[2022-03-16 06:34] KalleOlaviNiemitalo commented on #475
Do existing implementations ensure a specific exception type if dynamic binding fails on a _dynamic object_?

[2022-03-16 13:58] BillWagner opened #499 "[C# 7.3] Better (but not bestest) betterness fix"
I found the following while working on #484

Consider this code:

[code]

This compiles without error starting in V7.3, based on this issue: https://github.com/dotnet/roslyn/issues/8942#issuecomment-299536091

[2022-03-16 16:16] jskeet commented on #441
Not sure that this really needs to be blocking. It's not ideal, but it's not horrific as-is.

[2022-03-16 16:32] #394 closed, assigned to jskeet

[2022-03-16 17:31] Nigel-Ecma commented on #482
I'll offer “No” – it’s a non-generic member of a generic type.
Disclaimer: I haven’t looked into the implications for the Standard text either way.

[2022-03-16 17:38] jskeet commented on #482
That would be inconsistent with:

[code]

... where D is described in 14.2.1 as a generic class declaration.

[2022-03-16 17:41] #434 closed, assigned to nobody

[2022-03-16 17:56] jskeet commented on #440
Now that I've got into how we can test this, I'm having a go...

[2022-03-16 18:02] jskeet opened #502 ""Long lines" test is failing"
Not sure how we missed this - I suspect it's due to failing to rebase properly. Investigating.

(The tests which shouldn't generate warnings are fine; it's the test that *should* generate a warning that's failing.)

[2022-03-16 18:19] jskeet commented on #440
Okay, the problem appears to be in the MarkdownParser. My test case is:

[code]

That parses as:

- ListBlock
  - Literal ("Here is some code:")
  - InlineCode ("csharpint x = 1;int y = x + 1;")

We're on quite an old version of FSharp.Formatting - I'll see if updating that helps...

[2022-03-16 18:22] BillWagner commented on #440
Warning:  I tried this once, just snapping to the latest version. There were several breaking changes in that library.

[2022-03-16 18:31] jskeet commented on #440
Yup. I've managed to update the library (although I had to *downgrade* FSharp.Core to 5.0.2) and fix up all the compile-time errors. It still does generate a Word document... but that doesn't fix this particular issue. (It might fix others.)

I'm looking into whether any parse options can help us...

[2022-03-16 18:34] jskeet commented on #440
Nope, it looks like the only parse options are ParseCodeAsOther, ParseNonCodeAsOther, AllowYamlFrontMatter - none of which sound promising here.

A few options:

- Try to fix the parser (!)
- Detect the issue and try to effectively "recreate" the code block
- Find all occurrences in the spec and rewrite them to avoid having code blocks in lists
- Flag and fix manually after word conversion

It's q

[2022-03-16 18:36] jskeet commented on #440
Detecting it and fixing it might not actually be too hard... we still have the line breaks. Will give that a go.

Will keep the code I've got that updates the Markdown parser version though, as a separate branch - we may well want to do that anyway.

[2022-03-16 18:48] Nigel-Ecma commented on #482
It would be inconsistent with §15.2.1 as an enum is a value type aka struct. But…

- §14.2.1 says classes inside generic classes are also generic
- §15.2.1 says structs inside generic structs are also generic
- But neither says anything about a struct/class nested inside of a generic class/struct…

Can meet worms ;-)

[2022-03-16 19:20] #193 closed, assigned to jskeet

[2022-03-16 19:24] jskeet commented on #475
Decided not to block C# 6 for this. Will revisit.

[2022-03-16 19:54] jskeet commented on #499
Shorter version I'm using to check for breaking changes:

[code]

With C# compiler version 4.1.0-5.22109.6, this prints "Func"

[2022-03-16 20:04] KalleOlaviNiemitalo commented on #482
[14.3.9.7 Nested types in generic classes](https://github.com/dotnet/csharpstandard/blob/53e081b393ea33d9a8b3dbe955ff50984ba09ab9/standard/classes.md#14397-nested-types-in-generic-classes) says

<https://github.com/dotnet/csharpstandard/blob/53e081b393ea33d9a8b3dbe955ff50984ba09ab9/standard/classes.md#L1100>

So yeah, it's a generic enum type declaration. I suggest linking from all the recently ad

[2022-03-16 20:28] #494 closed, assigned to nobody

[2022-03-16 20:32] jskeet commented on #482
Will fix this, both in terms of enums and in terms of making it "any type within any generic type" in 14.2.1 and 15.2.1.

[2022-03-16 20:36] jskeet commented on #437
Closing as Smarten has indeed introduced an ellipsis replacement.

[2022-03-16 20:36] #437 closed, assigned to nobody

[2022-03-17 08:29] jskeet opened #506 "Replace "statement block" with "block""
In a few places, we refer to "statement block" when it would be simpler and clearer to just use "block".

[2022-03-17 08:59] jskeet commented on #436
It turns out we have 158 of these issues. Yikes.

[2022-03-17 09:03] jskeet commented on #436
Ah, it's not quite that bad... we need to handle being in nested lists as well. This is going to be ugly...

[2022-03-17 09:28] jskeet opened #507 "Notes and examples are unlabeled"
Looks like this is a regression caused by #495 somehow - although currently I'm failing to understand why.

I'm looking into it urgently.

[2022-03-17 10:03] jskeet commented on #435
Explicit interface implementations: the list was invalid due to missing a blank line. (This isn't actually spotted in the crude detection in #509, but is fixed there.)

6.4.3 is indeed broken, and half-fixed in #509. But it contains a *nested* list which has the right style of bullet, but incorrect indentation.

8.3.5 is fixed in #509.

Leaving this issue open for now as the indentation of lists i

[2022-03-17 11:26] jskeet commented on #438
Ha, this is easy - we just need a blank (but quoted) line between the start of the note at the table.

There's only one other such table, in 22.3 (pointer types) which is already rendered correctly.

[2022-03-17 11:51] jskeet opened #511 "Detect and fix long lines in examples"
Section 11.9.6 (subtraction operator) has an example in a level 3 list item, causing wrapping.

We could just fix these by inspection (there probably aren't many) or change our long line detection to be indentation-aware (which will be harder, but more robust).

[2022-03-17 11:53] jskeet commented on #441
This is fixable without too much hassle. There's a prototype in #512. I'll fix it up when other PRs have been merged.

[2022-03-17 18:08] #502 closed, assigned to jskeet

[2022-03-17 18:29] #507 closed, assigned to jskeet

[2022-03-17 18:33] #440 closed, assigned to jskeet

[2022-03-17 18:35] #438 closed, assigned to nobody

[2022-03-17 18:40] #436 closed, assigned to nobody

[2022-03-18 09:32] jskeet commented on #482
@Nigel-Ecma: Both 14.2.1 and 15.2.1 *do* talk about a struct/class nested inside a generic class/struct, as far as I can see:

From 14.2.1:

From 15.2.1:

Have I misunderstood your concern?

[2022-03-18 10:41] Nigel-Ecma commented on #482
@jskeet – You haven’t misunderstood, I obviously wasn’t reading the version I thought I was, and I double checked because I didn’t quite believe we’d let such a simple error stand. So mea culpa, both those clauses are correct in this regard and have been for quite some time (at least 7 years!) in the Standard.

[2022-03-18 10:55] jskeet commented on #511
The long-line detection would have to change significantly - and we'd no longer know where in the source it came from. Basically, I think we'd have to do this as a final check after creating the full document, due to the way that list and note handling work.

The rough plan would be to check each paragraph:

- If it doesn't have a ParagraphStyleId of "Code", skip it. Otherwise:
- Work out the inde

[2022-03-18 14:49] RexJaeschke commented on #475
A quick look at expressions.md shows 17 occurrence of "binding-time error," each leaving unspecified as to what error is reported (or even how). So it's probably not useful to specify just one of them now.

[2022-03-18 14:55] #441 closed, assigned to BillWagner

[2022-03-18 14:59] #435 closed, assigned to BillWagner

[2022-03-18 15:03] #482 closed, assigned to jskeet

[2022-03-18 15:03] #511 closed, assigned to jskeet

[2022-03-18 15:04] jskeet commented on #433
The indentation has been overhauled somewhat now, and while it's tweakable I don't think it's worth keeping an issue open.

[2022-03-18 15:04] #433 closed, assigned to nobody

[2022-03-18 15:38] #464 closed, assigned to RexJaeschke

[2022-03-21 15:13] #432 closed, assigned to nobody

[2022-03-24 12:52] #157 closed

[2022-03-24 12:52] #283 closed

[2022-03-25 12:36] BillWagner opened #531 "Consistent format for *end note*"
See https://github.com/dotnet/csharpstandard/pull/530#issuecomment-1077762448 and preceding discussion.

The *end note* text should be a separate paragraph in all instances where the note is more than 1 paragraph. For example, notes that contain lists or examples would always have multiple paragraphs.

In the case where a *note* and *end note* are the start and end of a single paragraph, the *end

[2022-03-28 01:09] cdlliuy opened #539 "Finally not always be executed in Linux platform"
[Enter feedback here]
The finally block is not always be executed in Linux platform.
See the issue opens for https://github.com/dotnet/runtime/issues/67214,   when there is an exception thrown in catch block,  the finally statement was skipped when running in linux.

This is either a dot.net  runtime issue , or  a documentation issue that need to be fixed.

---
#### Document Details

⚠ *Do not edi

[2022-03-28 14:30] BillWagner opened #533 "Articulate the coding style used in the standard"
Several PRs updated the coding style for the examples in the standard. We need to update the admin guide to include a discussion of what our expectations are for code

PRs to review for style notes:

- #469
- #470
- #471
- #474
- #479
- #483
- #485
- #487
- #488
- #500

[2022-03-29 09:35] cdlliuy commented on #539
Per discussion in https://github.com/dotnet/runtime/issues/67214,  I realized if adding a "System.Threading.Thread.Sleep(xxx)" in the Finally block, it will give the console.writeline a chance to flush the output.

In short, the wording is still correct.  If enhancing the example a little more to make it looks stable on linux and windows,  it will be much better.

[2022-03-29 09:37] cdlliuy commented on #539
This is the code that works in my Linux:

[code]

[2022-03-29 14:52] BillWagner commented on #531
Fixed in #534

[2022-03-29 14:52] #531 closed, assigned to BillWagner

[2022-04-01 00:39] BillWagner commented on #539
Ping @jskeet for triage.

I think this is below the bar for v6.  The concern is that the standard requires that `finally` clauses always execute.

The compiler always generates the code to do that. However, in some instances, the runtime will immediately stop a program without allowing any of the finally clauses to execute. (For example, in the case of an `InvalidProgramException`.)

Similar to th

[2022-04-01 05:45] jskeet commented on #539
I agree that it's below the bar for v6. To be honest, I'm nervous about going too far on this front, because there could always be things that are interrupted by program shutdown. Let's discuss it in the next meeting though.

[2022-04-02 15:37] RexJaeschke commented on #23
I'm in the process of manually editing the generated Word spec for submission to Ecma. I have a new document, "Manual-steps-to-apply-to-gen'd-Word-Spec-for-publication" that contains the steps needed, and soon this will be uploaded as a new document in folder `admin`. That document subsumes this Issue, which I'm closing.

Once the submission has been completed, I plan to work with Jon and Bill to

[2022-04-02 15:37] #23 closed

[2022-04-02 15:38] RexJaeschke commented on #29
I'm in the process of manually editing the generated Word spec for submission to Ecma. I have a new document, "Manual-steps-to-apply-to-gen'd-Word-Spec-for-publication" that contains the steps needed, and soon this will be uploaded as a new document in folder `admin`. That document subsumes this Issue, which I'm closing.

Once the submission has been completed, I plan to work with Jon and Bill to

[2022-04-02 15:38] #29 closed

[2022-04-02 15:38] RexJaeschke commented on #398
I'm in the process of manually editing the generated Word spec for submission to Ecma. I have a new document, "Manual-steps-to-apply-to-gen'd-Word-Spec-for-publication" that contains the steps needed, and soon this will be uploaded as a new document in folder `admin`. That document subsumes this Issue, which I'm closing.

Once the submission has been completed, I plan to work with Jon and Bill to

[2022-04-02 15:38] #398 closed, assigned to BillWagner, RexJaeschke

[2022-04-05 14:04] KalleOlaviNiemitalo opened #541 "[C# 6] #485 lost ** delimiters in §11.7.6.2 Identical simple names and type names"
In draft-v6, [§11.7.6.2 Identical simple names and type names](https://github.com/dotnet/csharpstandard/blob/dce002fca40c13d8e64c7c6ed47a9819d5611d11/standard/expressions.md#11762-identical-simple-names-and-type-names) contains an example with `public Color Color`.  Below the code sample, there is a paragraph:

However, none of the occurrences are delimited by `**`. The delimiters were deleted in

[2022-04-05 14:08] KalleOlaviNiemitalo commented on #541
If you want to keep the code sample as valid C#, then perhaps you could use `@Color` to indicate references to the Color type. Or perhaps that would just mislead readers.

[2022-04-07 13:45] jskeet commented on #541
Rex, do you have time to look at this and make a proposal for next week's meeting?

[2022-04-07 23:29] RexJaeschke opened #544 "Potential problem with the Word generator"
In 11. Expressions, in 11.11.3 Floating-point comparison operators, we have the following md:

which is well formed. However, the Word generator turned that into the following:

*Example*: If either of `x` and `y` is NaN, then `x` < \`y\` is \`false\`, but \`!(x >= y)`is`true\`.
*end example*

The problem seems to start at the "<" character.

BTW, I have since changed the md by pushing the *end ex

[2022-04-07 23:56] RexJaeschke commented on #541
Back in V5, when the spec was maintained in Word format, the 4 instances that were being called out here were highlighted by being underlined. At some point during the conversion to md, this got turned into pairs of "\*" delimiters. Rather than go back to underlining, which requires embedded HTML that the converter would have to understand, I propose that we use chevron delimiters instead, as foll

[2022-04-08 05:37] jskeet commented on #541
That sounds like an excellent compromise to me.

[2022-04-13 03:27] gafter opened #549 "11.6.4.6 Better conversion target"
This is a nit introduced in spec for language version 6.  In that version we have the definition

Where this concept is referenced elsewhere in the spec, we should use the modifier "for" to identify the type "E" which we are checking if it is a better conversion *for*.

However, that modifier is missing in the following two places:

- 11.6.4.4 Better conversion from expression
- 11.6.4.6 Better co

[2022-04-13 03:34] gafter opened #550 "11.6.4.4 Better conversion from expression"
This is a minor nit introduced in the C# 6 version of the specification.

`11.6.4.4 Better conversion from expression` says

There is one issue with this:
- The phrase being defined is not in bold and italics.

[2022-04-13 11:21] #544 closed, assigned to jskeet

[2022-04-13 20:20] jskeet commented on #539
We've agreed not to try to fix this in the C# 6 spec, but we'll look again before C# 7 to see whether there's anything that needs to be clarified.

[2022-04-13 20:55] jskeet commented on #358
Done.

[2022-04-13 20:55] #358 closed, assigned to jskeet, BillWagner

[2022-04-13 21:00] jskeet commented on #475
Closing as no action required.

[2022-04-13 21:00] #475 closed, assigned to RexJaeschke

[2022-04-14 09:16] #506 closed, assigned to jskeet

[2022-04-14 10:07] jskeet opened #552 "Method group conversion existence and compatibility is inconsistent"
(Conversions) 10.8 starts:

But later we see:

and

The first sentence seems to at least *imply* that an implicit conversion *only* exists from a method group to a compatible delegate type, but the rest of the description appears to say that an implicit conversion exists from a method group to a delegate type if a single method within the group is applicable in its normal form, without considering

[2022-04-14 14:02] BillWagner commented on #552
See also #499

[2022-04-14 18:32] KalleOlaviNiemitalo commented on #541
PR was merged to draft-v6. Can this be closed now?

[2022-04-14 18:56] #541 closed, assigned to RexJaeschke

[2022-04-27 20:45] BSeyfi opened #564 "bad display of logical and conditional OR in the table in section 11.4.2"
In the table in section [11.4.2](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#1142-operator-precedence-and-associativity) , logical OR and conditional OR operators are not displayed properly.
They're displayed in escaped form .
Now they are: \\|   and \\|\\|
It is expected to be: | and ||

Thanks in advance

---
#### Document Details

⚠ *Do n

[2022-04-28 22:49] MadsTorgersen opened #561 "C# 7.x: Unifying treatment of discards and local variables in patterns, deconstruction and out variables"
Pattern, deconstruction expressions and out variables all allow for local variables to be declared in places that are not accounted for by existing scope rules. In addition, those locations allow for the use of discards in lieu of existing or fresh variables.

Currently the treatment of these variables is spread out and partially duplicated across #61, #63 and #44. I think there's both an opportun

[2022-04-28 23:49] MadsTorgersen opened #562 "7.7 Scopes needs to be updated for expression-bodied members"
In [7.7 Scopes](https://github.com/dotnet/csharpstandard/blob/draft-v7/standard/basic-concepts.md#771-general) some scope specifications have not been updated to reflect the fact that members can have expression bodies:

Should be *indexer_body* not *accessor_declarations*

Should be *operator_body* not *block*

Further changes will be needed here for v7 as well.

[2022-04-28 23:53] MadsTorgersen opened #563 "7.3 Typo: "valuename" should be "`value` name""
In [7.3 Declarations](https://github.com/dotnet/csharpstandard/blob/draft-v7/standard/basic-concepts.md#73-declarations):

"valuename" should be "`value` name"

[2022-04-29 15:59] BillWagner commented on #564
/cc @RexJaeschke @jskeet This is reported on the "draft-v7" branch. I haven't looked at v6 yet.

[2022-04-29 16:16] #549 closed, assigned to jskeet

[2022-04-29 16:16] #550 closed, assigned to jskeet

[2022-04-30 11:06] RexJaeschke commented on #564
@BSeyfi I'm not seeing the problem. These look OK to me when rendered in GitHub for both V6 and V7 branches. And the V6 Word version has it right.

[2022-04-30 11:40] BSeyfi commented on #564
@RexJaeschke
An screenshot of my Firefox internet browser
I've also checked Chrome. Problem exists there too.

![1](https://user-images.githubusercontent.com/42473071/166103967-fd4679b9-9c5d-4652-831e-f0624e6835ef.png)

[2022-04-30 12:54] BillWagner commented on #564
@RexJaeschke This is only an error in the v7 branch. I just opened #565 to address it.

[2022-05-01 14:15] #564 closed, assigned to nobody

[2022-05-04 08:35] jskeet commented on #169
Adding to be discussed in the May meeting to see whether we just need to turn this into a PR.

[2022-05-05 06:56] BSeyfi commented on #564
Thanks. Now it is OK.

[2022-05-09 13:24] #533 closed, assigned to BillWagner

[2022-05-09 16:18] RexJaeschke opened #572 "9.4.4.* Inconsistent formatting of pseudo-code blocks that contain grammar-like rule names"
This issue is a consequence of moving the spec from Word to md. In Word, we could set a group of lines as having code style and then make some of its contents italic using character formatting. We can't do that in md, so need an alternate approach.

In 9.4.4.6 If statements, we have

Unlike in the V5 Word version, this is **not** set as a code block. I propose (and Jon and Bill have agreed private

[2022-05-10 13:27] #572 closed, assigned to RexJaeschke

[2022-05-11 04:20] gafter commented on #180
Disambiguating these kind of examples is explicitly handled in the PR for pattern-matching.

[2022-05-11 15:43] gafter commented on #388
This "feature" was intentionally introduced into Roslyn when someone noticed the bug in the previous compiler, even though we were not aware of any code that depends on it.  In "strict" mode (See https://github.com/dotnet/roslyn/issues/7086 and https://www.meziantou.net/csharp-compiler-strict-mode.htm) the compiler will not accept this code.

[2022-05-11 15:53] gafter commented on #345
@ljw1004 Your help on this issue would be most welcome!

[2022-05-11 16:13] gafter commented on #305
See also https://github.com/dotnet/roslyn/issues/9731 and https://github.com/dotnet/roslyn/issues/13560 for shortcomings of existing implementations that may need to be considered when handling this issue.

[2022-05-11 16:31] gafter commented on #285
I don't think any action on the specification is needed for this.  This is simply a record of public discussion that led into language changes in C# 7.0.

[2022-05-11 16:33] gafter commented on #284
This is a record of discussions leading to the final form of the C# 7 features.  I don't think any independent action on this issue is needed.

[2022-05-11 21:58] BillWagner opened #576 "8.0 Tuple parentheses optional in switch expression and statement"
When a tuple is used as the expression for a switch statement (or expression), the tuple doesn't need parentheses.  For example:

[code]

[2022-05-13 10:49] jskeet opened #577 "Clarify "corresponds exactly to" in classes.md"
From 14.11.1:

It's not clear what this means.

[2022-05-13 23:00] gafter commented on #576
This is specified in https://github.com/dotnet/csharplang/blob/main/proposals/csharp-8.0/patterns.md

[2022-05-16 16:22] gafter opened #579 "[C# 8.0] Some references for pattern-matching"
A couple of useful references for pattern-matching in C# 8:
- https://github.com/dotnet/csharplang/blob/main/proposals/csharp-8.0/patterns.md
- https://github.com/dotnet/csharplang/issues/1054
- https://github.com/dotnet/csharplang/issues/2095

[2022-05-18 07:32] yaakov-h opened #581 "9.6 Atomicity of variable references - 64-bit values"
In section 9.6, the spec states:

I assume this part of the spec still comes from the days of 32-bit machines and runtimes.

`long`, `ulong`, and `double` are all 64-bit value types. (I don't remember what `decimal` is.)

Could these be non-atomic even on a 64-bit runtime?

[2022-05-23 20:30] RexJaeschke opened #582 "We use the term "module" but never define it"
I've been writing the formal spec for a V9 feature, module initialization. As I was reading the MS proposal, it occurred to me that I didn't know what the term *module* meant, esp. as something separate from *assembly*. So, I looked at the C# spec.

We use the term *module* nine times, all in the context of specifying a global attribute that applies to a module (or assembly). However, we never def

[2022-05-23 20:33] #563 closed, assigned to RexJaeschke

[2022-05-23 20:33] #562 closed, assigned to RexJaeschke

[2022-05-25 13:09] neNerower opened #583 "Error in ANTLR representation of Fixed-size buffer declarations"
There is an error in Your ANTLR representation of [Fixed-size buffer declarations](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/unsafe-code#2282-fixed-size-buffer-declarations).

Now it looks like this:
[code]

If you follow these instructions, it will be possible to write:
[code]
But this code is wrong and will throw an error.

So, to fix the error, the

[2022-05-25 14:27] BillWagner commented on #583
@Nigel-Ecma  I think the suggest is correct in this issue.  Do you agree?

[2022-05-26 14:51] BillWagner opened #585 "Do we need HTML tables?"
From https://github.com/dotnet/csharpstandard/pull/584#discussion_r882743887

When enabling smarten, I converted the operator tables from custom HTML to properly formatted markdown. They are rendering fine.

This opens the question: Could we replace the 3 other HTML tables with properly formatted markdown tables?

I think the remaining table in expressions.md could be replaced easily. The first in

[2022-05-27 04:28] #581 closed, assigned to nobody

[2022-05-27 04:28] DaneSpiritGOD commented on #581
I have received.

[2022-05-27 09:55] neNerower opened #586 "Error in ANTLR representation of The try statement"
There is an error in Your ANTLR representation of  [The try statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/statements#1211-the-try-statement).

Now it looks like this:
[code]

If you follow these instructions, it will be possible to write:
[code]

But this code is wrong and will throw an `error CS1017: Catch clauses cannot follow the general cat

[2022-05-27 13:46] KalleOlaviNiemitalo commented on #586
You are right about `?` vs. `*`, but your code sample omits the `finally_clause` that the grammar requires.

[2022-05-28 05:37] Nigel-Ecma commented on #586
@neNerower – You are correct, a check shows this is a typo introduced during the conversion to ANTLR syntax.

To confirm the correct version is:

[code]

Would you like to create a PR for this edit and tag me as the reviewer?

Thanks for spotting this.

[2022-05-28 06:14] Nigel-Ecma commented on #583
@neNerower – This pattern, where a “plural” production is used to define a sequence of a “singular” production, is used throughout the grammar. Pre-ANTLR these plural productions were two-option left-recursive (of the form`PS = P | PS delimiter P`); most, but not all (for no good reason), have been converted to a single-option version (of the form `PS = P (delimiter P)*` in ANTLR.

You’ve found on

[2022-05-28 12:18] neNerower commented on #583
@Nigel-Ecma
Yeah, it would be great !
I will create a PR soon.

[2022-05-29 13:43] neNerower commented on #583
@Nigel-Ecma
I created a PR #587 but couldn't tag You as a reviewer.

[2022-05-29 13:51] neNerower commented on #586
@Nigel-Ecma
Still can't tag You as a PR reviewer.

[2022-05-29 21:02] BillWagner commented on #586
thanks @neNerower

I added Nigel as a reviewer on the PR. (Maintainer privileges are needed to assign reviewers.)

[2022-05-30 08:31] Nigel-Ecma commented on #586
@neNerower – Apologies, I didn't know the perm issue over requesting a reviewer – next time just do what you did, tag me in a comment requesting a review. Both PR's now reviewed and approved, they'll get merged in due course. Thanks.

[2022-05-30 10:47] svick commented on #582
This may be irrelevant to the spec, but note that .Net Core does not support multi-module assemblies, see https://github.com/dotnet/runtime/issues/10598.

[2022-06-01 14:30] BillWagner commented on #586
Fixed in #588

[2022-06-01 14:30] #586 closed, assigned to nobody

[2022-06-01 14:31] BillWagner commented on #583
Fixed in #587

[2022-06-01 14:31] #583 closed, assigned to nobody

[2022-06-07 20:03] BillWagner opened #590 "[C#8.0] Local functions can declare variables with the same name as those in the outer scope"
https://github.com/dotnet/csharpstandard/pull/104/files#r885838412

In C# 7.x, local functions could not declare local variables or parameters with the same name as variables declared in the outer scope. This restriction is removed in C# 8.0

[2022-06-08 21:08] gafter commented on #582
module: The contents of an assembly produced by a compiler.  Some implementations may have facilities to produce assemblies that contain more than one module.  The behavior of such situations is outside the scope of this specification.

[2022-06-08 21:14] BillWagner commented on #585
There's no markdown facility to merge table cells. That mean the tables in the annex on string formatting will stay as HTML, but most other ones probably can be removed.

[2022-06-10 10:37] RexJaeschke opened #594 "Prohibiting Duplicate Modifiers"
While discussing PR #[215](https://github.com/dotnet/csharpstandard/pull/215), “private protected access modifier,” on the June 2022 TG2 call, @gafter mentioned that prose that disallows duplicate modifiers was missing in some contexts. And rather than adding it to those “missing” places, perhaps we could make a single, general statement re that instead.

The prohibition on having duplicate modifi

[2022-06-10 18:38] BillWagner commented on #585
I'm closing this without explicit action.

I checked all the remaining HTML tables. All contain cells that span multiple rows or columns and aren't supported in markdown.

/cc @jskeet @RexJaeschke

[2022-06-10 18:38] #585 closed, assigned to BillWagner

[2022-06-13 14:35] #582 closed, assigned to RexJaeschke

[2022-06-15 17:09] BillWagner commented on #552
https://github.com/dotnet/csharpstandard/pull/263#issuecomment-1156724778 I think describes what needs to be addressed here, once #263 is merged.

[2022-06-17 19:00] RexJaeschke commented on #561
As Mads is otherwise occupied for a while, and I have the time, I’ve been working on this issue.

I’m starting with discards, and then will look at local variable declarations.

Thus far
- I’ve created (but not yet posted) draft text for a new PR that introduces discards.
- I’ve figured out the changes needed for PR #[44](https://github.com/dotnet/csharpstandard/pull/44) (out variables) to point t

[2022-06-20 09:47] RexJaeschke commented on #561
I've created PR 596 to add discards as a separate feature.

I've revised PR 44, as follows:
 - removed discard spec text
 - removed handling of discards on lhs of simple assignment
 - replaced uses of *variable_reference* with *identifier* to accommodate discards as well as variable names
 - simplified and expanded the out-argument examples

[2022-06-26 09:35] KalleOlaviNiemitalo commented on #340
In <https://github.com/dotnet/docs/pull/27795>, Microsoft started publishing the ECMA C# 6 draft from this repository to docs.microsoft.com, replacing <https://github.com/dotnet/csharplang/tree/ms-spec-text/spec>. So the usage of the `return` attribute target with such accessors is no longer documented there, although it is AFAIK still implemented in the compiler.

I suppose I should file a separa

[2022-06-27 10:06] vladd opened #598 "Document the memory-model related rules"
The current standard seems to say relatively little on the memory model issues. The all information I could find is only the [§7.10](https://github.com/dotnet/csharpstandard/blob/draft-v7/standard/basic-concepts.md#710-execution-order).

There is an ongoing work on documenting the memory model in the runtime repository (https://github.com/dotnet/runtime/issues/63474 and in particular [Draft of CLR

[2022-07-04 18:06] RexJaeschke commented on #561
I've completed the discard spec part. After looking at the local-variable-creation aspect, I have the following to report:

[The use of `not_` indicates "any identifier except `_`".]

## Out Variable

Type is optional

[code]

If *type*/`var` is present, `_` is a typed discard; `not_` is a new local variable, provided none by that name already exists (which is an error).

If *type*/`var` is absent

[2022-07-10 17:19] #40 closed

[2022-07-13 15:05] Nigel-Ecma commented on #594
I think this is now covered in #215 by the changes to writing “permitted kinds of declared accessibility” and the wording of §7.5.2 Declared accessibility

[2022-07-13 21:19] jskeet commented on #594
We're not sure whether we want to do this or not, but we'll leave it open as a reminder to try it some time and see if the result feels cleaner.

[2022-07-13 21:39] BillWagner commented on #66
See PR #65

Note that instead of "primary", the throw expression precedence should be the same as the null coalescing question.

[2022-07-14 08:14] jskeet opened #599 "Declared accessibility should not be in a code font"
In classes.md, we differentiate between access modifiers and the declared accessibility (the semantics represented by those access modifier combinations). It's confusing to see both in code font.

See #215 for examples of this.

[2022-07-18 19:57] BillWagner opened #600 "Missing Attribute Target of `return`"
It was first reported in dotnet/roslyn#62145

See the grammar [here](https://github.com/dotnet/csharplang/blob/ms-spec-text/spec/attributes.md#attribute-specification) for the *attribute_target* grammar. Later in that section, the MS spec says:

We chose different language in the C# 6 standard.

The standard doesn't specify the behavior for the `return` attribute specifier on `set` accessors, or `

[2022-07-18 21:12] KalleOlaviNiemitalo commented on #600
In draft-v6, you have this grammar

<https://github.com/dotnet/csharpstandard/blob/80f88445a63d76a7c9dd3a44bd1fc7efd16155c6/standard/attributes.md?plain=1#L216-L219>

which covers `return` as a keyword. So I'm not sure what this issue is about.

[2022-07-18 21:26] KalleOlaviNiemitalo commented on #600
Unless your intention with this issue is to standardise `return:` attributes on event accessors and such. But the description of this issue refers to grammar only, and there is already <https://github.com/dotnet/csharpstandard/issues/340> for the feature change, so I can't be sure you meant that either.

[2022-07-18 22:03] BillWagner commented on #600
Good points. I updated the description above to clarify.

[2022-07-28 12:07] albert-github opened #602 "Discrepancy in documentation tags descriptions."
There is a bit of a discrepancy between this chapter "Recommended XML tags for C# documentation comments" (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/xmldoc/recommended-tags) and the chapter "Annex D Documentation comments" (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/documentation-comments) even when the both chapters might have

[2022-07-28 14:13] BillWagner commented on #602
Thanks for noting this @albert-github

I'm going to transfer this issue to the `csharpstandard` repo for the ECMA committee to take on in its work updating the standard.

[2022-08-17 14:41] jskeet opened #614 "Should we have a way of compiling/testing the code in the standard?"
It would be nice if we could validate that code in the standard compiles (where it's meant to) and has the output we claim it has.

This comes with all kinds of challenges, such as where "extra" code (which is described briefly but not provided in the spec) should live, how we test it etc.

This issue is basically for discussion of what we want to do, and how we might achieve it.

[2022-08-17 15:35] svick commented on #614
One option is to copy what .Net docs do: have a regular project (with .csproj and .cs files) for a group of snippets, where the code looks e.g. [like this](https://github.com/dotnet/docs/blob/194ad61/docs/core/tutorials/snippets/with-visual-studio-6-0/csharp/Program.cs):

[code]

The relevant part of the code is then included in the text using [non-standard Markdown](https://docs.microsoft.com/en-

[2022-08-17 15:38] jskeet commented on #614
@svick: Possibly. Although personally, for ease of editing and reading the raw Markdown spec, I think I'd like it to be the other way round in this case - that the raw code is in the spec, and then it's extracted when we want to run it.

[2022-08-29 23:39] markjulmar commented on #614
@jskeet The approach laid out by @svick is related to how docs.microsoft.com processes and publishes Markdown content - so it relies on a Markdig extension built by the docs team. It would only work cleanly if this repo were published to docs and not intended to be read directly from GitHub. I don't believe that is the case - is that correct?

[2022-08-30 06:38] jskeet commented on #614
@markjulmar: That's correct. @BillWagner is probably the best person to take the lead on options here, being both on the ECMA technical group and deeply involved in the MS docs.

[2022-08-30 13:51] BillWagner commented on #614
@markjulmar

That's correct: This repo is a dependent repo for [dotnet/docs](https://github.com/dotnet/docs), which is onboarded in OPS.

This repo also has different publishing requirements: The ECMA committee needs to submit the standard in Word or PDF format. We have a tool we maintain for that purpose.

I'm currently investigating two different options:

- Using the Markdig extension built by

[2022-09-01 23:07] 333fred opened #617 "Incorrect wording on variance in 17.2.3.3"
https://github.com/dotnet/csharpstandard/blob/cabbf59f114db57172fd87c9429cdcc313aa716e/standard/interfaces.md?plain=1#L127

By definition, an identity conversion must exist from `Aᵢ` to itself. This should be `Aᵢ` to `Bᵢ`.

[2022-09-01 23:09] 333fred commented on #617
Oh, and just above it, `T<Bᵢ, ..., Aᵥ>` should be `T<Bᵢ, ..., Bᵥ>`

[2022-09-01 23:13] 333fred commented on #617
Finally, the section is header is not particularly clearly worded. ``A type `T<Aᵢ, ..., Aᵥ>` is variance-convertible to a type `T<Bᵢ, ..., Aᵥ>` if `T` is either an interface or a delegate type...`` defines two different `T`s and then talks about `T` without differentiating between them. It is technically correct (really the T's are the same, but with different type parameters) but could be worded

[2022-09-02 09:35] Nigel-Ecma commented on #617
@333fred your first two comments are typos introduced during the conversion of the Standard text to Markdown, they are both correct in the previous version the Standard.

Well spotted, thank you. Would you like to make a PR to fix just those two referencing this issue? You can put me down as a reviewer if you wish.

You can make a PR for your third comment as well if you wish, but keep it separate

[2022-09-08 05:55] KalleOlaviNiemitalo opened #620 "ECMA-334:2022 not on TC49-TG2 web page"
ECMA-334 6th edition was published in June 2022 but it is not listed at <https://www.ecma-international.org/task-groups/tc49-tg2/?tab=scope>, in the table that compares Microsoft C# versions, ECMA standards, and ISO/IEC standards. Should it be added?

[2022-09-08 05:57] KalleOlaviNiemitalo commented on #620
The similar table at <https://www.ecma-international.org/publications-and-standards/standards/ecma-334/> does include ECMA-334:2022.

[2022-09-08 08:02] jskeet opened #621 "14.6.1: Add example for null conditional invocation expression"
14.6.1 includes:

11.16.1 includes the same text, and local functions will introduce it as well.

There's no motivation given for it; @gafter had an explanation around it being classified as "None" in a way which would make it invalid as an expression in some cases. (That's a very hand-wavy explanation - Neal will be able to express it better.)

We should provide motivation and an example (just in

[2022-09-08 08:04] jskeet opened #622 "Extract concept of captured variables from anonymous functions"
11.16.6.2 describes captured variables for anonymous functions. We need the concept for local functions (#104) as well, and probably for other things in later versions.

It would be good to move the concept to somewhere non-anonymous-function-specific (e.g. clause 9, variables), so we can refer to it from other text.

[2022-09-08 11:56] jskeet commented on #614
I'm spiking this now - and it's *already* found a bug in the spec (an example where we're missing a class body).

[2022-09-09 18:27] RexJaeschke commented on #620
Thanks; this has been updated as you suggested.

[2022-09-09 18:27] #620 closed, assigned to nobody

[2022-09-27 19:13] BillWagner commented on #622
When this work is done, we should search the standard for uses of "captured", and link to where it is defined in clause 9.
There are at least two locations, anonymous functions, and local functions.

[2022-09-28 15:45] IanKemp commented on #290
It's now September 2022 and C# 9.0 is the major shipping version...

[2022-09-28 15:47] jskeet commented on #290
@IanKemp: Nope, C# 10.0 is the major shipping version. We're very well aware that we're several versions behind. We're making progress, but this is no-one's "main job".

[2022-10-03 10:02] jskeet opened #625 "Check preference for Func<Task> over Action"
The following code prints `Func<Task>`:

[code]

So `Func<Task>` is a better conversion target than `Action` in this case. I'm not sure where that's specified at the moment.

[2022-10-05 16:32] MadsTorgersen commented on #561
Thanks so much for the work you've done on this, @RexJaeschke! I've blocked time on my calendar to try to bring it all together before the November meeting.

[2022-10-05 20:40] jskeet commented on #188
Note to self: see if #263 fixes this.

[2022-10-05 20:52] jskeet commented on #169
Just to validate that the array itself is evaluated before the RHS:

[code]

This still throws (thankfully).

[2022-10-05 21:00] jskeet commented on #169
We're not going to change the spec, but we want to start a list of "known spec violations, where we wish it obeyed the spec". (That won't be in this repo though; it's MS-specific.)

[2022-10-06 00:08] KalleOlaviNiemitalo commented on #169
Should a separate issue be filed for "If the variable given by x is an array element of a reference_type, a run-time check is performed" requiring a type check even when x is not syntactically E[Ei]?

[2022-10-07 10:00] jskeet commented on #169
@KalleOlaviNiemitalo: I don't immediately follow, but yes, I'd suggest creating a new issue with an example.

[2022-10-07 10:00] #169 closed

[2022-10-07 10:17] jskeet commented on #66
@KalleOlaviNiemitalo: It's not clear to me from your comment whether this is how the compiler actually behaves, or whether this is an area you think this needs a spec change. I want to close this issue when #65 is merged, so please could you file a new issue if you believe we need to do more work on this?

[2022-10-07 10:20] KalleOlaviNiemitalo commented on #66
@jskeet the standard text matches compiler behaviour and I think the behaviour is reasonable so no action is required.

[2022-10-11 14:36] RexJaeschke commented on #614
Heads up! I am working with Jon to add the appropriate HTML-example-extraction comments to the md files. My plan is to work on the files in chapter number order with Jon reviewing my PRs.

In my research thus far, I have identified some cases that are *not* handled by the tooling:

* Examples that are intended to throw an exception.
* Examples that are not completely self-contained, and need suppo

[2022-10-16 19:23] RexJaeschke opened #635 "Bug in example in 13.5.4, namespaces/using static directives"
The final [example](namespaces.md#1354-using-static-directives) in this section has a bug:

Based on the comment near the end, the intent is that an error results based on `M` being unknown. However, the compiler doesn't get that far. Instead, it complains about the declaration

[code]

According to [14.2.2.4.1](classes.md#142241-general), a static class (such as `A`) **cannot** be used as a base

[2022-10-17 23:57] RexJaeschke opened #638 "Bug in example in 17.4.6, Interface member access"
The first [example](interfaces.md#1746-interface-member-access) in this section has a bug. Here is that example and surrounding narrative:

The only compilation error reported is for Line 18:

If I disable that line, no error results from Line 17, in *any* csc compiler version since V1!

BTW, this example has been in the Ecma spec since V1. Perhaps this case *was* an error in a pre-V1 release when

[2022-10-19 07:30] jskeet commented on #638
Good find. And eek!

[2022-10-26 12:47] RexJaeschke opened #646 "Example Extractor and Tester Tools Status"
***To add your input to the discussion of any category in this issue, do NOT create a new comment; instead, locate the discussion thread comment for that category and add your contribution to the end using the “edit” option.***

The ExampleExtractor tool extracts source code for individual examples based on the metadata in an HTML comment that precedes each example’s code block. (If an example has

[2022-10-26 12:52] RexJaeschke commented on #646
## Complete Example

**Metadata:** `<!-- Example: { …`

The metadata is correct and complete. The code compiles (and optionally executes), as is. No further action is needed.

[2022-10-26 12:55] RexJaeschke commented on #646
## Incomplete Example

**Metadata:** `<!-- Incomplete$Example: { …`

Example needs support infrastructure such as declarations or an enclosing type. As this is the single biggest group of currently excluded examples, this is the one worth investing some time to see if it can be addressed, at least for most examples.

The remaining such examples are stay incomplete, and might never be completed. Th

[2022-10-26 12:56] RexJaeschke commented on #646
## Implementation-Defined Behavior

**Metadata:** `<!-- ImplementationDefined$Example: { …`

A few examples produce multiple output tokens whose order might vary from one conforming implementation to another, in which case, what to say for `expectedOutput`? (It’s not clear, but in some cases, the behavior might legitimately vary between executions on the same platform!) Some of these may well be u

[2022-10-26 12:57] RexJaeschke commented on #646
## Detecting Intended Exceptions

**Metadata:** `<!-- ThrowsException$Example: { …`

How to detect and check it’s the expected exception?

2022-10-26: Problem solved by PR https://github.com/dotnet/csharpstandard/pull/648, by adding a new metadata string/value pair, `expectedException:"<unqualified-type-name>"`.

[2022-10-26 12:59] RexJaeschke commented on #646
## Multifile Examples

**Metadata:** `<!-- RequiresSeparateFiles$Example: { …`
**Metadata:** `<!-- RequiresSeparateProjects$Example: { …`

Two or more source files need to be compiled together.

Some parts of some examples contain preprocessor directives, which must come before declarations, so they can’t be compiled as a single file.

2023-12-14: Jon resolved part of this problem in PR https://gi

[2022-10-26 13:00] RexJaeschke commented on #646
## Example Needing Review

**Metadata:** `<!-- NeedsReview$Example: { …`

The compilation or execution resulted in unexpected behavior, but which Rex didn’t understand.

[2022-10-26 13:02] RexJaeschke commented on #646
## Chevron Delimiters Used for Emphasis

**Metadata:** `<!-- Guillemet$Example: { …`

In the Expressions chapter, we use «…» notation for emphasis, as follows:

Clearly, this code won’t compile. We can either the example omit from the extraction process or remove the delimiters (and the explanation of their usage).

2022-10-26: Problem solved by PR #649, by having the extractor remove all chevron

[2022-10-26 13:03] RexJaeschke commented on #646
## Undefined Behavior

**Metadata:** `<!-- Undefined$Example: { …`

We can’t say what, if any, output might result; the program could even abort!

Each such example has an HTML comment saying "\<!-- Maintenance Note: The behavior of this example is undefined."

No further action needed.

[2022-10-26 13:05] RexJaeschke commented on #646
## Including Support Files (formerly Documentation Comment Include File)

**Metadata:** `<!-- IncludeFileNeeded$Example: { …`

The documentation comments tag `<include>` needs a corresponding XML file to include.

2022-11-01: Jon addressed this as part of the more general issue of providing supporting types (and such) in separate files. See PR #662.

[2022-10-26 13:07] RexJaeschke commented on #646
## Unsafe Code

Such examples require csc option `-unsafe+`, which neither standalone-console nor standalone-lib templates support. As such, we’d likely need unsafe variants of both those templates.

**Metadata:** `<!-- Unsafe$Example: { …` (17)
**Metadata:** `<!-- Unsafe/Undefined/$Example: { …` (2)
**Metadata:** `<!-- Unsafe/ImplementationDefined/$Example: { …` (1)
**Metadata:** `<!-- Unsafe/Inc

[2022-10-26 13:12] RexJaeschke commented on #646
## Namespace Access

**This applies to both Complete and Incomplete examples.**

We currently use three different approaches:
- Have the necessary *using-namespace-directive*(s) at the start of the example, with no explicit namespace qualification on any references to names in that namespace. (This makes the example complete.) For example:
[code]
- Omit the necessary *using-namespace-directive*(s)

[2022-10-26 13:14] RexJaeschke commented on #646
## Ignoring Certain Warnings

Not all warnings are relevant to the purpose of the tester tool. Can/should such warnings be ignored?

For an example in basic-concepts.md, we have the following:

[code]

However, the repeated CS0219 is a message having the form, “The variable 'i' is assigned but its value is never used”. As this is not useful to see or to check for in this context, this kind of warn

[2022-10-26 13:16] RexJaeschke commented on #646
## Problem with Ellipses Replacement

The metadata `replaceEllipsis:true` causes all ellipses—regardless of context—to be replaced by `/* … */`. For the most part, this is OK. However, when ellipses are used as the (unstated) body of a non-void method or a get accessor, this results in error CS0161, “not all code paths return a value.” For example:

[code]

The metadata for such examples is marked

[2022-10-26 13:17] RexJaeschke commented on #646
## Example Containing Chevron Quotes

We use chevron-quotes («…») to allow grammar-rule (and other) names inside a code block. For example:

[code]

Obviously, these examples won’t compile. As such, they do *not* currently have any metadata.

As a result of https://github.com/dotnet/csharpstandard/issues/646#issuecomment-1292000778, chevron delimiters are now removed from extracted source. For the

[2022-10-26 13:18] RexJaeschke commented on #646
## Passing Command-Line Arguments to Main

Several examples process command-line argument strings, if they exist. However, one example (Indexers2 in classes.md) expects such an array of at least one element, and throws an exception when that is not passed.

2023-12-14: Jon resolved this in PR https://github.com/dotnet/csharpstandard/pull/736.

[2022-10-26 13:20] RexJaeschke commented on #646
## Errors Hiding Other Errors

Example UsingAliasDirectives13 in namespaces.md contains the following lines (where 9-15 are the corresponding source line numbers):

[code]

When compiled, we get

[code]

However, when the offending line 14 is commented-out, we get

[code]

So, the error on line 14 hides the detection/reporting of the errors on lines 11 and 12. This means, we’d need to state the fi

[2022-10-26 13:21] RexJaeschke commented on #646
## Expected Documentation Comments Generated XML

The csc option `-doc:xx.xml`, saves the generated XML. At this stage, I don’t see that we need/want to compare that with some sort of `expectedXMLOutput` metadata facility.

[2022-10-26 13:22] RexJaeschke commented on #646
## Examples Not Marked for Extraction

These examples are mostly isolated code fragments, contain superscripts or subscripts, or for some other reason, did not warrant trying to make them complete.

No action required.

[2022-10-27 21:40] jnm2 opened #654 "Null conditional spec seems to no longer disallow `obj?.MethodGroup`"
The original wording of the spec seems to disallow `obj?.MethodGroup` due to the combination of the following (thanks to @RikkiGibson for finding this):

https://github.com/dotnet/csharplang/blob/main/spec/expressions.md#null-conditional-operator

https://github.com/dotnet/csharplang/blob/main/spec/expressions.md#expression-classifications

This is also the current behavior of the compiler ([Sharp

[2022-10-27 21:50] jnm2 commented on #654
The conditional expression which `obj?.MethodGroup` is translated to, `((object)obj == null) ? null : obj.MethodGroup`, doesn't work under the old compiler (C# 5):

Something has changed since to make the conditional expression begin to work. Perhaps this indirectly means the new spec is correct (for at least some versions of C#), and the compiler should now be updated to allow `obj?.MethodGroup`?

[2022-10-27 21:53] RikkiGibson commented on #654
I think what we're trying to determine as part of this issue is:
1. From the old spec in csharplang to the new standard in csharpstandard, did we change from disallowing null-conditional method group to allowing it?
2. If the answer to (1) is yes, then was the change intentional?

[2022-10-28 07:13] jskeet commented on #654
Assigned to @gafter and @Nigel-Ecma who've done the most work in this area.

[2022-11-02 00:08] KalleOlaviNiemitalo opened #663 "C#6 §11.11.9 (Delegate equality operators) vs. delegate variance"
ECMA-334:2022 §11.11.9 (Delegate equality operators) specifies:

Does that require a binding-time error in this case:

[code]

If I understand correctly, the binding-time types are Dee\<object\> and Dee\<string\>, and there is no identity conversion between those, although there is an implicit reference conversion from Dee\<object\> to Dee\<string>. The standard would then seem to require a bindin

[2022-11-02 00:22] KalleOlaviNiemitalo commented on #281
There is also <https://github.com/dotnet/csharpstandard/issues/297> for a similar scenario, although not quite the same.

[2022-11-02 07:59] jskeet commented on #663
Thanks, we'll discuss this. (I wonder whether the implicit conversion is being used as part of overload resolution, leading to a result of the delegate equality operator between two (effective) operands of type `Dee<object>`. But I haven't checked in detail yet.)

[2022-11-02 20:06] jskeet commented on #614
Closing as we now have lots of examples, and more coming. #646 keeps track of tricky bits.

[2022-11-02 20:06] #614 closed, assigned to nobody

[2022-11-02 20:48] #188 closed

[2022-11-02 20:48] #499 closed, assigned to nobody

[2022-11-03 07:38] RexJaeschke commented on #646
## Using Program Console Output in Spec

The output from some examples is shown in the spec using the following construct:

[code]

It would be better to use that for checking instead of having an `expectedOutput` annotation directive.

2022-11-01: Jon added this capability via the `inferOutput` annotation directive, in PR https://github.com/dotnet/csharpstandard/pull/661.

[2022-11-05 15:20] KalleOlaviNiemitalo commented on #663
I thought this could be fixed by changing the wording to _"and there is neither an identity conversion nor an implicit reference conversion between the binding-type operand types"_, but consider the case with two type parameters:

[code]

Here, there is no implicit reference conversion between the compile-time types of `d1` and `d2`, but comparing them for equality can still be meaningful.

Surpri

[2022-11-05 15:36] KalleOlaviNiemitalo commented on #663
If I read section 11.11.7 correctly, there is a predefined operator `public static bool operator == (MulticastDelegate d1, MulticastDelegate d2);`, which compares by reference equality instead of looking at invocation lists; and likewise for each delegate type (declared with the `delegate` keyword).  However, these predefined operators are never selected by overload resolution because  MulticastDe

[2022-11-08 21:14] KalleOlaviNiemitalo commented on #663
If that is the intended interpretation, then the standard should specify the MulticastDelegate type so that implementations are not allowed to select the predefined equality comparison operators in overload resolution.

[2022-11-09 05:54] Nigel-Ecma commented on #663
`MulticastDelegate` is intentionally in neither the CLI or C# Standards. It is a historical artefact from the MS CLI implementation and is not intended to be user-visible.

[2022-11-09 06:35] KalleOlaviNiemitalo commented on #663
I now see 11.11.7 (Reference type equality operators) says "Every class type C", which excludes delegate types, but includes MulticastDelegate.

If an implementation interposes MulticastDelegate between the Delegate class and delegate types like .NET does, but does not define a user-defined operator ==(MulticastDelegate, MulticastDelegate), then 11.11.7 requires a predefined reference-equality ope

[2022-11-11 21:59] BillWagner opened #669 "Create workflow for our test validation"
The test validation we've added should run on each PR.

We want to ensure that each PR that might change any sample code still runs.

This should follow the workflows used for the other actions.

Open question: Should it be required? (I'm not sure how far we've gotten in validating all the existing samples)

[2022-11-11 22:00] jskeet commented on #669
All the examples that have metadata (as Example) run correctly (at least on my machine)...

[2022-11-11 22:01] jskeet commented on #669
We shouldn't require that every example is runnable though.

[2022-11-30 20:28] #669 closed, assigned to BillWagner

[2022-11-30 21:17] gafter opened #676 "Separate out unsafe content into the unsafe chapter"
We just merged PR #236

But there is one small part of it that mentions unsafe that can be moved into the unsafe chapter.

There are only 2 or 3 other mentions of unsafe elsewhere outside the unsafe chapter.  Those could be moved as well.